<%- include("./partial/header.ejs") %>

<p>Welcome to <%= package.projectName %>. You are logged in as <%= package.currentUser %>. </p>

<%- include("./partial/forms/add-col.ejs") %>

<div id="canvas-container"></div>

<%- include("./partial/footer.ejs") %>