<%- include("./partial/header.ejs") %>

<p>Welcome to <%= package.projectName %>. You are logged in as <%= package.currentUser %>. </p>

<%- include("./partial/forms/add-tracker.ejs") %>

<a href="./admin-panel">Click here to access the admin panel.</a>

<div id="canvas-container"></div>

<%- include("./partial/footer.ejs") %>